.register_body {
	background: #d94d50; /* Old browsers */
	background: -moz-linear-gradient(left, #d94d50 0%, #fbbd53 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #d94d50 0%, #fbbd53 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #d94d50 0%, #fbbd53 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d94d50', endColorstr='#fbbd53', GradientType=1 ); /* IE6-9 */
	color:#3c3c3c !important;
}

.logo-color {
	color:#fefefe !important;
	font-weight:600;
	font-size:xx-large;	
	text-shadow: 2px 0px 1px rgba(82, 82, 82, 1);
}

h5 span {
	color:#fb4346 !important;
}

span.or { 
	display: block !important;
    height: 40px;
    width: 40px;
    line-height: 40px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: gray;
    color: #333;
    text-align: center;
    font-size: 1em;
}

.featurette {
	color:#fefefe !important;
	text-shadow: 2px 0px 1px rgba(82, 82, 82, 1);
}

.featurette-heading {
	font-size: 48px;
    font-weight: 400;
}

.btn-outline-light:hover {
    color: rgb(80, 29, 30);
    background-color: hsla(210, 17%, 98%, 0);
    border-color: rgba(80, 29, 30, 1);
}

a {
    color: #fefefe !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
