#searchDiv {
	border:1px dotted #ff9900; 
	background-color: #FFFFCC; 
	color:#111; 
	margin:0px 0px 20px 0px; 
	max-width:960px; 
	padding:15px 15px; 
}

.privacypolicyParagraph {
	margin:auto; text-align:center;
}
.info, .success, .notice, .error, .validation {    
    margin-top:0px;
	margin-bottom:20px;
    padding:10px 35px;
    background-repeat: no-repeat;
    background-position: 10px center;		
	border-radius: 2px; 
	border: 1px solid;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../img/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../img/success.png');
}
.notice {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../img/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../img/error.png');	
}
.shadow {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 5px rgba(0, 0, 0, 0.1);
}
.textnote { display:none; color:orange; font-size:11px;}
.note { color:orange; font-size:11px;}

.heading{ 
	color: #888;
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 8px;
}
.floatRight{ float:right;}	
.floatLeft{ float:left;}	

.note{ color:orange; font-size:10px;}
.desktopHgroup { display:block; }
.mobileHgroup { display:none; }

 .mobileHgroup button, .mobileHgroup a.btn {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	height: 44px;

	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	background-image: none;
	background-color: transparent;

	padding: 4px;
	margin: 8px 8px 8px 0px;

	box-sizing: border-box;

	font-size: 24px;
	font-weight: inherit;
	line-height: 32px;
	color: rgb(254, 254, 254);

	border-style: solid;
	border-radius: 4px;
	border-width: 2px;
	border-color: rgba(254, 254, 254, 0.5);

	-webkit-transition: border 300ms ease-in,background 300ms ease-in;
	transition: border 300ms ease-in,background 300ms ease-in;

	-webkit-tap-highlight-color: transparent;
}

.mobileHgroup button:hover, .mobileHgroup a.btn:hover {
	border-color: transparent;
	background-color: rgba(254, 254, 254, 0.2);
}

.mobileHgroup button:focus, .mobileHgroup a.btn:focus {
	border-color: transparent;
	outline: 0;
	background-color: rgba(254, 254, 254, 0.2);
}

.mobileHgroup button:active, .mobileHgroup a.btn:active {
	border-color: transparent;
	background-color: rgba(254, 254, 254, 0.4);
}

.mobileHgroup button img, .mobileHgroup a.btn img {
	width: 32px;
	height: 32px;
}

	


@media (max-width: 640px) {
	body {
		font-size:16px;
	}				
	#header hgroup h2 {
		font-size: 14px;
	}
	#header, #topnav, #container, #footer, #copyright, #subnav {
		display: block;
		margin: 0 auto;
		padding:5px;
		width: 97%;
	}		
	#searchDiv {
		border:1px dotted #ff9900; margin:5px 0 15px 0; padding:10px 10px; max-width:640px;
	}
	#header nav {
		padding: 0 0;
		margin-bottom:5px;
		width: 100%;
	}	
	#header nav ul {
		padding: 0 5px;
	}
	#header hgroup {
		float: left;
		margin: 0 0;
	}
	#header nav li a:link, #header nav li a:visited, #header nav li a:hover {			
		font-size: 16px;
		font-weight:normal;
	}
	#header nav li {
		float: unset;
		font-weight:normal;
		padding:7px 0;		
		border-bottom:1px dotted #ff9900;
		clear:both;
	}
	#topNavMenuDiv {
		display:none;
	}
	
	.one_quarter, .two_quarter, .three_quarter, .four_quarter{display:block; float:left; font-size:14px;margin:0 20px 0 0;}
	.one_quarter{width:100%;}
	.two_quarter{width:100%; margin-top:25px;}
	.three_quarter{max-width:100%; margin-top:25px;}
	.four_quarter{max-width:100%; margin-top:25px; clear:both;}
	.topnavUL {
		margin-bottom:10px;
	}
	.topnavUL li{
		font-size:16px;
	}
	.privacypolicyParagraph {
		font-size: 14px; margin:auto; text-align:center;
	}	
	.mobileHgroup { display:block; }
	.desktopHgroup { display:none; }	
}